.venv/
.aider*

.DS_Store
FM 3 cryptos.pages
*.png

MScFE 560 FM Set C GWP2.pdf

.env
.env copy
*.pdf
!f870904f702772bf0e252dc0daa3df64e7ab6b005b95d9f8ed4ac86a5a25b18a.pdf
Group Work 2/

secret_generator.py
logs/


FM 3 cryptos_single_page.pages